/* Global style */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
.App h1,
.container h2 {
  text-align: center;
}

.App h1 {
  font-size: 3em;
  color: #2c3e50;
  margin-bottom: 20px;
  margin-top: 30px;
}

/*Headers style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

nav img {
  width: 50px;
  height: 70px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  font-family: "Spartan", sans-serif;
}

nav ul li a:hover,
nav ul li a.active {
  color:#088178;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Components */
.container h2 {
  font-size: 1.8em;
  color: #1abc9c;
  margin-bottom: 20px;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px auto;
  width: 80%;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: 20px 10px;
  text-align: left;
}

th {
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

th:first-child {
  width: 40%;
}

th:last-child {
  width: 30%;
}

td {
  color: #333;
}

.disk {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.disk > div {
  flex: 1;
}

.resource-item > div {
  margin-bottom: 50px;
}

.traffic > p {
  padding: 20px;
  text-align: center;
  font-style: italic;
  font-size: small;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  th,
  td {
    padding: 10px;
  }
}


